/* --ABOUT-- */

.about {
    background-color: #FBE9AD;
    &__wrapper {
        display: flex;
        padding: 100px 0;
    }

    &__item {
        width: 50%;

    }

    &__foto {
        display: block;
        margin: 0 auto;
        height: 500px;
    }

    &__description {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        width: 70%;
        align-items: center;
        
        h1 {
            font-family: $font-primary;
            font-size: 45px;
            text-align: center;
            padding-bottom: 20px; 
            color: $text;
        }


        p {
            text-align: center;
            font-family: $font-seconadary;
            color: $text;
            font-size: 18px;
        }
    }
}
