/* --ADDRESS-- */

/*.address {
    position: relative;

    &::before {
        display: block;
        content: '';
        position: absolute;
        left: -30px;
        top: 0px;
        width: 25px;
        height: 40px;
        background-repeat: no-repeat;
        background-image: url("/img/point.svg");

        @media (max-width: 1000px) {

            left: 160px;
        }
    }

    &--right {
        text-align: right;
    }

    &--nopin {
        &::before {
            display: none;
        }
    }
}*/

.address-tel {
    display: block;
    padding-top: 4px;
}
