/* --FOOTER--*/

.footer {

    &__container {}

    // height: 300px;
    //  width: 100%;
    &__smooth {
        background-color: $smooth;
        width: 100%;
        height: 30px;
        position: relative;
        cursor: pointer;

        &::before {
            position: absolute;
            content: '';
            display: block;
            left: calc(50% - 100px);
            right: calc(50% - 100px);
            width: 200px;
            height: 60px;
            border-radius: 50%;
            top: -30px;
            background-color: inherit;
            background-image: url(/img/top.svg);
            background-repeat: no-repeat;
            background-position: 70px 0px;
        }

        &:hover::before {
            background-position: 70px -5px;
        }
    }

    &__up {
        background-color: $color-primary;
        height: 70px;
        line-height: 70px;
        font-family: $font-primary;
    }

    &__down {
        background-color: $darkbrown;
        width: 100%;
        height: 150px;
        font-size: 18px;
    }

    &__menu {

        font-size: 20px;
        display: flex;
        justify-content: space-between;
        font-size: 25px;
        padding: 0 200px;
    }

    &__item-link {
        text-decoration: none;
        color: #fbe9ad;
    }

    &__wrapper {
        padding: 0 80px;
        height: 150px;
        padding-top: 50px;
    }

    &__second {
        color: $color-secondary;
        display: flex;
        justify-content: space-between;
        font-family: $font-secondary;
    }

    &__second-item {
        text-align: right;
        align-self: center;
    }

    &__address {
        position: relative;

        &::after {
            display: block;
            content: '';
            position: absolute;
            right: -30px;
            top: -2px;
            width: 25px;
            height: 40px;
            background-repeat: no-repeat;
            background-image: url("/img/point.svg");
        }
    }

    &__fb {

        &::after {
            background-image: url("/img/fb1.svg");
            width: 25px;
            height: 50px;
            top: -6px;
            right: -30px;
        }

    }

    &__mail {

        &::after {
            background-image: url("/img/mail.svg");
            width: 15px;
            height: 30px;
            top: 7px;
            right: -25px;
        }
    }
}
