/* --GENERAL SETTINGS-- */

body {
    font-family: $font-secondary;
    color: $text;
    font-size: 18px;

}

.container {
    margin: 0 auto;
    width: 1000px;
    @media (max-width: 1000px) {
        width: 100%;
    }
}

a {
    text-decoration: none;
    color: inherit;
    @include transition(color);
}
