/* --HEADINGS-- */

.head {
    font-family: $font-primary;
    color: $text;
    text-align: center;
    font-size: 45px;
    
    &--big {
        text-transform: uppercase;
    }
    
   /* &--padding {
        padding: 20px 0;
    }*/
}