/* --HISTORY-- */

.history {
    height: 80vh;
    &__container {
        position: relative;
        text-align: center;
        padding: 60px 50px 50px;
        font-size: 19px;
        @media(max-width: 768px) {
            padding: 0 15px 40px;
        }
        
        p {
            padding-top: 5px;
            line-height: 26px;
        }
    }

    &__description {
        line-height: 28px;
    }

    &__signature {
        text-align: right;
        margin-top: 30px;
        font-size: 24px;
    }
}
