/* --HISTORY-- */

.history {
    &__container {
        text-align: center;
        padding: 0 50px 50px;
        font-size: 19px;
        p {
            padding-top: 5px;
            line-height: 26px;

        }
    }
    &__description {
        line-height: 28px;
    }
    &__signature {
        text-align: right;
        padding-right: 100px;
        margin-top: 30px;
        font-size: 24px;
    }
}
