/* --HOW-0RDER-- */

.how-order {

    &__container {
        margin: 0 auto;
    }
    &__list {
       //padding: 20px 50px 0 50px;
        width: 80%;
        margin: 0 auto;
    }

    &__point {
        margin-bottom: 20px;
        border-radius: 5px;
        &:nth-child(odd) {
            background-color: #ffffd3;
        }
    }

    &__title {
        //text-transform: uppercase;
        font-size: 20px;
        font-weight: 600;
    }

    &__description {
        font-size: 18px;
    }

    &__description-bottom {
        text-align: center;
        margin-top: 30px;
        padding-bottom: 80px;

        p {
            margin-bottom: 10px;
            font-size: 18px;
        }
    }
}
