@mixin transition($property: all, $duration: 0.1s, $easing: ease-in) {
    -moz-transition: $property $duration $easing;
    -ms-transition: $property $duration $easing;
    -o-transition: $property $duration $easing;
    -webkit-transition: $property $duration $easing;
    transition: $property $duration $easing;
}
