/* --NAVIGATION-- */

.nav {
    // width: 1000px;
    margin: 0 auto;
    padding: 15px 0;

    @media (max-width: 767px) {
        width: 100%;
        top: 100px;
        padding: 0;
    }

    &--transition {
        padding: 4px 0;
        transition: padding, .4s;
        @media (max-width: 767px) {
            //padding: 15px 0;
            //transition: none;
            display: none;
        }
    }

    &__mobile-link {
        display: none;
        width: 50px;
        height: 45px;
        background-color: white;
        z-index: 80;
        right: 20px;
        top: 30px;
        position: absolute;
        cursor: pointer;
        border: 3px solid $color-primary;
    }
    @media (max-width: 767px) {
        &__mobile-link {
            display: inline-block;
        }
    }

    &__mobile-hamburger {
        display: inline-block;
        width: 30px;
        height: 3px;
        position: absolute;
        margin-top: 18px;
        margin-left: 7px;
        background-color: $color-primary;
        z-index: 100;

        &::before,
        &::after {
            content: '';
            display: block;
            position: absolute;
            height: 3px;
            width: 30px;
            background-color: inherit;
        }

        &::before {
            top: -10px;
        }

        &::after {
            top: 10px;

        }
    }

    &__mobile-hamburger,
    &__mobile-hamburger:before,
    &__mobile-hamburger:after {
        transition: all 400ms ease-in-out;
    }

    &--open &__mobile-hamburger {
        background-color: inherit;
        &::before {
            transform: translateY(10px) rotateZ(45deg);
            background-color: $color-primary;
        }
        &::after {
            transform: translateY(-10px) rotateZ(-45deg);
            background-color: $color-primary;
        }
    }
    &__mobile-logo {
        width: 90px;
        height: 100px;
        display: none;
        margin: 10px 0;
        @media (max-width: 767px) {
            display: block;
        }
    }
    &--open &__mobile-logo {
        margin-left: calc(50% - 45px);
        margin-right: calc(50% - 45px);
        padding-top: 30px;
    }

    &__list {
        display: flex;
        justify-content: space-between; // position: relative;
        @media (max-width: 767px) {
            display: none;
            height: 100%; ///margin-top: 100px;
            padding-top: 60px;
        }
    }


    &--open &__list {
        display: block;
        @media (min-width: 767px) {
            display: flex;
            justify-content: space-between;
            position: relative;
        }
    }

    &__item {
        align-self: center;

        @media (max-width: 767px) {
            display: block;
            width: 100%;
            text-align: center;

            &:not(:nth-child(4)) {
                margin-bottom: 20px;
            }
        }
        &:nth-child(3),
        &:nth-child(6),
        &:nth-child(8),
            {
            display: none;
            @media (max-width: 767px) {
                display: block;
            }
        }
    }

    &__item-link {
        color: $color-primary;
        font-family: $font-primary;
        font-size: 30px;
        position: relative;

        @media (max-width: 767px) {
            display: block;
            font-size: 24px;
        }

        &:hover {
            color: $smooth;

            &::after {
                visibility: visible;
                transform: scaleX(1);
            }
        }

        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -10px;
            background-color: $smooth;
            visibility: hidden;
            height: 2px;
            width: 100%;
            transform: scaleX(0);
            transition: all 0.3s ease-in-out 0s;

            @media (max-width: 767px) {
                display: none;
            }
        }
    }

    &__logo {
        display: block;

        img {
            width: 90px;
            height: 100px;
            vertical-align: middle;
            @media (max-width: 767px) {
                display: none;
            }
        }
        &--position {
            @media (max-width: 767px) {
                display: none;
            }

        }
    }
}
