/* --NAVIGATION--*/

.nav {
    width: 1000px;
    margin: 0 auto;
    padding: 15px 0;
    
    &--transition {
        padding: 4px 0;
        transition: padding, .4s;
    }

    &__list {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        align-self: center;
    }

    &__item-link {
        color: $color-primary;
        font-family: $font-primary;
        font-size: 30px;
        position: relative;

        &:hover {
            color: $color-secondary;

            &::after {
                visibility: visible;
                transform: scaleX(1);
            }
        }

        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -10px;
            background-color: $color-secondary;
            visibility: hidden;
            height: 2px;
            width: 100%;
            transform: scaleX(0);
            transition: all 0.3s ease-in-out 0s;
        }
    }

    &__logo {
        display: block;

        img {
            width: 90px;
            height: 100px;
            vertical-align: middle;
        }
    }

}
