/* --OUR SHOPS-- */

.ourshops {
    background-color: $bg-color;

    &__container {
        padding-top: 180px;
        border: 1px solid blue;
    }

    &__wrapper {
        padding: 80px 100px;
        padding-top: 50px;
    }

    &__data {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        position: relative;

        &:not(:first-child) {
            margin-top: 50px;

            &::before {
                display: block;
                content: '';
                height: 1px;
                width: 100%;
                background-color: #a1a1a1;
                top: -25px;
                position: absolute;
            }
        }
    }

    &__address {
        font-family: $font-secondary;
        font-size: 26px;
        font-weight: 800; 
        align-self: center;
        width: 40%;
    }

    &__map {
        width: 60%;
        height: 300px
    }
}
