/* --OUR SHOPS-- */

.ourshops {
    background-color: $bg-color;

    &__container {
        padding-top: 60px;
    }

    &__wrapper {
        padding: 50px 100px 90px;
    }

    &__data {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        position: relative;

        &:not(:first-child) {
            margin-top: 50px;

            &::before {
                display: block;
                content: '';
                height: 1px;
                width: 100%;
                background-color: #a1a1a1;
                top: -25px;
                position: absolute;
            }
        }
    }

    &__address {
        font-family: $font-secondary;
        font-size: 26px;
        font-weight: 800;
        align-self: center;
        width: 40%;

        &--brand {
            width: 60%;
        }
    }

    &__map {
        width: 60%;
        height: 300px;
    }

    &__logo {
        width: 50%;

        img {
            display: block;
            width: 80%;
            height: auto;
            float: right;
            text-align: right;
        }
    }

    &__data-brand {
        padding-top: 20px;
        font-size: 22px;
    }
    
    &__bank {
        padding-top: 20px;
    }
}
