/* --SLIDER-- */

.slider {
    width: 100%;
    margin: 0 auto;
     border-bottom: 3px solid $color-primary;

    &__container {
        margin: 0 auto;
    }

    &__box {
        //height: 700px;
        //margin: 0 auto;
        //display: inline-block;  
        background-color: #f0eeef;
        //border:1px solid green;
        width: 33,3%;
    }

    &__box-img {
        max-width: 100%;
        height: 400px;
        margin: 0 auto;
        
    //border:1px solid red;
    }
}
