/* --SLIDER-- */

.slider {
    max-width: 1366px;
    margin: 0 auto;

    &__container {
        margin: 0 auto;
    }

    &__box {
        height: 700px;
        margin: 0 auto;
        display: inline-block;
    }

    &__box-img {
        width: 1000px;
        height: 400px;
    }
}
