/* --SLIDER-- */

.slider {
    width: 100%;
    margin: 0 auto;
    border-bottom: 3px solid $color-primary;
   // border-top: 3px solid $color-primary;
    //padding-top: 130px;
    //margin-top: -5vh;
    /*@media(max-width: 768px) {
        padding-top: 0;
    }
     &__container {
        margin: 0 auto;
        border:1px solid red;
        height: 300px;
    }*/
    &__img {
        margin: 0 auto;
        width: 100%;
        height: 100vh;
        @media (min-width: 320px) and (max-width: 560px) {
        height: 300px;
    }
    }
    /*&__box {
        height: 100vh;
    }*/
    /*&__box {
        background-color: #f0eeef; 
        border:1px solid green;
        width: 33, 3%;
        width: 100%;
        height: 400px;
        @media(max-width: 1000px) {
            height: 250px;
        }
        @media(max-width: 768px) {
            height: 100px;
        }
}

&__pierniczki {
        width: 100%;
        height: 400px;
        background-size: contain;
        background: url(/img/slider_christmas/pierniczki.jpg);
        background-repeat: no-repeat;
    }*/
    /*&__box-img {
        width: 100%;
        height: auto;
        margin: 0 auto;
    }*/
    /*@media(max-width: 1000px) {
            height: 250px;
        }
        @media(max-width: 768px) {
            height: 200px;
        }
   
        
    &__gingerbreads {
        background-size: contain;
        background: url(/img/slider_christmas/pierniczki.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: 100% 30%;
        width: 100%;
        height: 323px;
        display: block;
        @media(max-width: 1000px) {
            height: 253px;
        }
        @media(max-width: 768px) {
            height: 153px;
        }
    }
     &__cake {
        background-size: contain;
        background: url(/img/slider_christmas/cake.jpg);
        background-repeat: no-repeat;
        background-size: 70%;
        background-position: center;
        width: 100%;
        height: 323px;
        display: block;
        @media(max-width: 1000px) {
            height: 253px;
        }
        @media(max-width: 768px) {
            height: 153px;
        }
    }
    &__handmade {
        background-size: contain;
        background: url(/img/slider_christmas/pierniki.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: 100% 70%;
        width: 100%;
        height: 323px;
        display: block;
        @media(max-width: 1000px) {
            height: 253px;
        }
        @media(max-width: 768px) {
            height: 153px;
        }
    }
        &__winner {
        background-size: contain;
        background: url(/img/slider_christmas/orly-strona.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: 100% 50%;
        width: 100%;
        height: 323px;
        display: block;
        @media(max-width: 1000px) {
            height: 253px;
        }
        @media(max-width: 768px) {
            height: 153px;
            background-size: cover;
            background-position: 55% 100%;
        }
    }*/
}
